form{
    height          : 150%;
}
li {
    list-style-type : none;
}
html{
    height          : 100%;
}
body{
    height          : 100%;
    margin          : 0;
    width           : 100%;
}

.memo_size{
    height          : 60%; 
    background      : white;
}
.nikki_textbox{
    display         : inline-block;
    width           : 100%;
    height          : 30%;
    padding         : 0.5em;
    border          : 1px solid #999;
    box-sizing      : border-box;
    background      : #f2f2f2;
    margin          : 2em 0;
}
.memo_inputbox{
    text-align      : center;
}
.memo_file{
    display         : inline-block;
    text-align      : center;
    margin:0 auto; 
    padding         : .7em 1em; 
    line-height     : 1.4; 
    background      : #FFF; 
    color           : #336378; 
    font-size       : 0.95em; 
    border-radius   : 2.5em; 
    transition      : 0.2s; 
}
/* ホバー時 */
.memo_file:hover {
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
.memo_img_block{
    height          : 40%;  
    text-align      : center;
}
.memo_image{
    max-width       : 100%;
    max-height      : 200px;   
}
.msg_tabs {
    margin-top      : 0.5px;
    padding-bottom  : 10px;
    text-align      : center;
    height          : 40%;  
}

input[name="msg_tab_item"] {
    display         : float;
}


/*タブ切り替えの中身のスタイル*/
.msg_tab_content {
    display         : none;
    padding-left    : 25%;
    padding-right   : 25%;
    clear           : both;
    overflow        : hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

.memo_button{
    text-align      : center;
}


/*選択されているタブのコンテンツのみを表示*/



/*携帯対応*/
@media screen and (max-width: 480px) {
form{
    height           : 150%;
}

html{
    height           : 100%;
}
body{
    height          : 100%;
    margin          : 0;
    width           : 100%;
}   

}

