form{
    height           : 100%;
}
li {
    list-style-type  : none;
}
body{
     margin          : 0;
}
label {
  white-space: pre-wrap;
}

.parts_size{
    /*height           : 50%;*/
    background       : white;
}
.msg_size{
    height           : 50%;
}
.msg_image{
    max-width        : 100%;
   /* max-height       : 100%;*/
    text-align       : center;
}
.block_msg {
    text-align       : left;
    color            : black;
    height           : 20%;
}

.msg_tabs {
  margin-top         : 0.5px;
  padding-bottom     : 10px;
  text-align         : center;
}

input[name="msg_tab_item"] {
  display            : float;
}


/*タブ切り替えの中身のスタイル*/
.msg_tab_content {
  display            : none;
  padding-left       : 5%;
  padding-right      : 5%;
  clear              : both;
  overflow           : hidden;
  height             : 200px;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}


/*携帯対応*/
@media screen and (max-width: 480px) {
    .block_msg {
        text-align       : left;
        color            : black;          
    }

}

